<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Deep Blue Parts</title>
  <link rel="shortcut icon" href="/img/favicon.png">
  <% if @user and @user.theme != "classic" %>
    <link href="/themes/<%= @user.theme %>.css" rel="stylesheet">
  <% else %>
  <link href="/bootstrap-4/css/bootstrap.css" rel="stylesheet">
  <% end %>
  <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
  <link href="/bootstrap-4/css/css.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/bootstrap-4/js/typeahead.bundle.js"></script>
  <script src="/bootstrap-4/js/popper.min.js"></script>
  <script src="/bootstrap-4/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>
  <script>
    var vendors = [];
    <% Order.all.map(&:vendor_name).to_set.each do |vendor| %>
      vendors.push("<%= vendor %>");
    <% end %>
  </script>
  <script src="/js/js.js"></script>
</head>
<body>
  <header>
    <% if @user %>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Deep Blue Parts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link" href="/projects"><i class="mr-1 far fa-folder-open"></i>Projects</a>
                </li>

                <li class="nav-item ml-3">
                  <a class="nav-link" href="/dashboards"><i class="mr-1 fas fa-chart-line"></i>Dashboards</a>
                </li>

                <% if CheesyCommon::Config.enable_ordering %>
                  <li class="nav-item ml-3">
                    <a class="nav-link" href="/orders"><i class="mr-1 fas fa-shopping-cart"></i>Orders</a>
                  </li>
                <% end %>
                <% if @user.is_shoptech? %>
                  <li class="nav-item ml-3">
                    <a class="nav-link" href="/vendors"><i class="mr-1 fas fa-box-open"></i>Vendors</a>
                  </li>
                <% end %>
                <% if @user.can_administer? %>
                  <li class="nav-item ml-3">
                    <a class="nav-link" href="/users"><i class="mr-1 fas fa-users"></i>Users</a>
                  </li>
                <% end %>

                <li class="nav-item ml-3">
                  <a class="nav-link" href="https://docs.google.com/document/d/1v1h-3xQSoYg9L7vz9q6_UCTyfBSA6E2ZJy0iSjGZFCI/edit?usp=sharing"><i class="mr-1 fas fa-book"></i>Documentation</a>
                </li>

              </ul>
              <ul class="navbar-nav float-right ml-auto">
                <li class="nav-item dropdown float-right">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="mr-1 fas fa-user"></i><%= @user.first_name %> <%= @user.last_name %></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/preferences"><i class="mr-1 fas fa-cog"></i>User Preferences</a>
                    <a class="dropdown-item" href="/logout"><i class="mr-1 fas fa-sign-out-alt"></i>Logout</a>
                  </div>
                </li>
              </ul>
            </div>


      </div>
      </nav>
    <% end %>
  </header>
