<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Deep Blue Parts</title>
  <link rel="shortcut icon" href="/img/favicon.png">
  <% if @user && @user.theme?("slate") %>
    <link href="/css/slate/bootstrap.min.css" rel="stylesheet">
  <% elsif @user && @user.theme?("cyborg") %>
    <link href="/css/cyborg/bootstrap.min.css" rel="stylesheet">
  <% else %>
  <link href="/bootstrap-4/css/bootstrap.css" rel="stylesheet">
  <% end %>
  <link href="/css/bootstrap-datepicker.css" rel="stylesheet">
  <link href='/bootstrap-4/css/css.css' rel='stylesheet' type='text/css' />
  <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="/bootstrap-4/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.js"></script>

  <script>
    var vendors = [];
    <% Order.all.map(&:vendor_name).to_set.each do |vendor| %>
      vendors.push("<%= vendor %>");
    <% end %>
  </script>
  <script src="/js/js.js"></script>
</head>
<body>
  <header>
    <% if @user %>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Deep Blue Parts</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                  <a class="nav-link" href="/projects"><i class="fas th-large"></i>Projects</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="/dashboards"><i class="fas columns"></i>Dashboards</a>
                </li>

                <% if CheesyCommon::Config.enable_ordering %>
                  <li class="nav-item">
                    <a class="nav-link" href="/orders"><i class="fas shopping-cart"></i>Orders</a>
                  </li>
                <% end %>

                <% if @user.can_administer? %>
                  <li class="nav-item">
                    <a class="nav-link" href="/users"><i class="fas users"></i>Users</a>
                  </li>
                <% end %>

                <li class="nav-item">
                  <a class="nav-link" href="https://docs.google.com/document/d/1v1h-3xQSoYg9L7vz9q6_UCTyfBSA6E2ZJy0iSjGZFCI/edit?usp=sharing"><i class="fas book"></i>Documentation</a>
                </li>

              </ul>
              <ul class="navbar-nav float-right ml-auto">
                <li class="nav-item dropdown float-right">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= @user.first_name %> <%= @user.last_name %></a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/user/preferences"><i class="fas cogs"></i>User Preferences</a>
                    <a class="dropdown-item" href="/logout"><i class="fas sign-out-alt"></i>Logout</a>
                  </div>
                </li>
              </ul>
            </div>


      </div>
      </nav>
    <% end %>
  </header>
