<% if CheesyCommon::Config.enable_ordering %>
<form action="/projects/<%= @project.id %>/order_items" method="POST">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">Vendor</th>
        <th scope="col">Quantity</th>
        <th scope="col">Part Number</th>
        <th scope="col">Description</th>
        <th scope="col">Unit Cost</th>
        <th scope="col">Notes</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tr>
      <td><input type="text" name="vendor" style="width: 200px" id="vendor" autocomplete="off" class="rounded"></td>
      <td><input type="text" name="quantity" style="width: 30px" class="rounded" /></td>
      <td><input type="text" name="part_number" style="width: 100px" class="rounded"/></td>
      <td><input type="text" name="description" style="width: 200px" class="rounded"/></td>
      <td><input type="text" name="unit_cost" style="width: 80px" class="rounded"/></td>
      <td><input type="text" name="notes" style="width: 200px" class="rounded"/></td>
      <td>
        <input type="submit" value="Save" class="btn btn-primary btn-sm">
        <a href="/projects/<%= @project.id %>/orders/open" class="btn btn-danger btn-sm">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
  </table>
</form>
<% end %>
