<%= erb :header %>

<div class="container nav-sep">
  <h2>Edit <% @project.name %></h2><hr>
  <form action="" method="POST">
    <div class="row">
      <div class="col-2">
        <label class="float-right">Name</label>
      </div>
      <div class="col-4">
        <input type="text" name="name" value="<%= @project.name %>" />
      </div>
    </div>
    <div class="row">
      <div class="col-2">
        <label class="float-right">Part Prefix</label>
      </div>
      <div class="col-4">
        <input type="text" name="part_number_prefix" value="<%= @project.part_number_prefix %>" />
      </div>
    </div>
    <div class="row">
      <div class="col-4 offset-2">
        <label class="float-right mt-1">
          <input type="submit" class="btn btn-primary btn-medium" value="Save" />
        </label>
  </form>
</div>

<%= erb :footer %>
