<%= erb :header %>

<div class="container nav-sep">
  <div class="row">
    <div class="col-8">
      <h2>Projects</h2>
    </div>
    <div class="col-4">
      <% if @user.can_administer? %>
        <a href="/new_project" class="btn btn-success float-right">
          New Project
        </a>
      <% end %>
    </div>
  </div>
  <div class="well">
  <% Project.each do |project| %>
    <li><h4><a href="/projects/<%= project.id %>"><%= project.name %></a></h4></li>
  <% end %>
  </div>
</div>

<%= erb :footer %>
