<%= erb :header %>

<div class="bg-login">
  <div class="container text-center text-light">
    <h1 class="h3 mb-3 font-weight-normal quickfadein">Thanks for registering. You will recieve an e-mail when your account is approved.</h1>
  </div>
</div>
<%= erb :footer %>
